@import "tailwindcss";

.animate-slide {
  display: flex;
  animation: slide 30s linear infinite;
  white-space: nowrap;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide img {
  flex-shrink: 0;
}